@charset "UTF-8";
* {
  font-family: "Times New Roman", Times, serif;
}

.container-logo {
  display: block;
  text-align: center;
}
.container-logo img {
  width: 250px;
  height: 250px;
}

.container-body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.container-body .container-form-login .container-form {
  border: 5px solid black;
}
.container-body .container-form-login .container-form p {
  margin: 0px 0px 13px 0px;
  font-size: 25px;
}
.container-body .container-form-login .container-form .container-form-index {
  height: 180px;
  width: 750px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.container-body .container-form-login .container-form .container-input-validacion {
  display: flex;
}
.container-body .container-form-login .container-form .container-input-validacion .container-label-login {
  margin: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
}
.container-body .container-form-login .container-form .container-input-validacion .container-label-login label {
  font-size: 25px;
}
.container-body .container-form-login .container-form .container-input-validacion .container-input-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-body .container-form-login .container-form .container-input-validacion .container-input-login input {
  padding: 1px 1px 1px 5px;
  height: 20px;
  font-size: 18px;
}
.container-body .container-form-login .container-check-login {
  text-align: start;
  margin: 0px 0px 0px 40px;
  height: 120px;
}
.container-body .container-form-login .container-check-login input {
  margin-top: 30px;
}
.container-body .container-form-login .container-check-login label {
  font-size: 22px;
}
.container-body .container-form-login .container-botones-index {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 55px;
  gap: 20px;
}
.container-body .container-form-login .container-botones-index button {
  border-radius: 5px;
  width: 100px;
  height: 35px;
  font-size: 18px;
  box-shadow: 3px 3px 2px black;
  text-align: center;
}
.container-body .container-form-login .container-botones-index button a {
  color: black;
  padding: 6.5px 15px 6.5px 8px;
  text-decoration: none;
}
.container-body .container-form-login .container-botones-index button:hover {
  scale: 1.1;
  transition: 0.1s;
  cursor: pointer;
}
.container-body .container-form-login .container-botones-index button:not(:hover) {
  scale: 1;
  transition: 0.1s;
}

.containerError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
  color: black;
}
.containerError .mensajeError {
  text-align: center;
  border-radius: 10px;
  border: solid black 5px;
}
.containerError .containerImgErr {
  margin-left: 1.3cm;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
}
.containerError .imgErr {
  width: 250px;
  height: 350px;
}
.containerError .textErr {
  margin-top: 50%;
  font-weight: bold;
  font-size: 25px;
  margin-right: 0px;
}
.containerError .buttonErr {
  border-radius: 5px;
  width: 100px;
  height: 35px;
  font-size: 18px;
  box-shadow: 3px 3px 2px black;
  text-align: center;
  margin: 0px 0px 10px 0px;
}
.containerError .buttonErr a {
  color: black;
  padding: 6.5px 20px 6.5px 20px;
  text-decoration: none;
}
.containerError .buttonErr:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.containerError .buttonErr:not(:hover) {
  transform: scale(1);
  transition: 0.4s;
}
.containerError .errText {
  margin: 0px 0px 10px 0px;
  font-size: 25px;
}

.body-register {
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 99vh;
}
.body-register .container-center-register .container-form-register {
  border: black solid 3px;
  height: 350px;
  width: 1000px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.body-register .container-center-register .container-form-register label {
  font-size: 22px;
}
.body-register .container-center-register .container-form-register .container-full-gender {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 18px;
}
.body-register .container-center-register .container-form-register .container-full-gender .username-full-register input {
  margin: 15px 0px 0px 5px;
  padding: 2px 2px 2px 6px;
  width: 200px;
  font-size: 18px;
}
.body-register .container-center-register .container-form-register .container-full-gender .gender-number-register {
  align-items: center;
}
.body-register .container-center-register .container-form-register .container-full-gender .gender-number-register input {
  margin: 22px 10px 0px 5px;
}
.body-register .container-center-register .container-form-register .container-full-gender .gender-number-register .input {
  width: 50px;
  font-size: 18px;
  height: 20px;
}
.body-register .container-center-register .container-form-register .container-cumpleaños {
  text-align: start;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 670px;
}
.body-register .container-center-register .container-form-register .container-cumpleaños label {
  margin: 0px 0px 0px 5px;
}
.body-register .container-center-register .container-form-register .container-cumpleaños input {
  width: 125px;
  font-size: 18px;
  padding: 2px 2px 2px 6px;
  margin: 0px 0px 0px 16px;
}
.body-register .container-center-register .container-form-register .container-password {
  margin: 15px 0px 0px 0px;
  width: 800px;
}
.body-register .container-center-register .container-form-register .container-password .label {
  margin: 0px 11px 0px 50px;
}
.body-register .container-center-register .container-form-register .container-password input {
  width: 200px;
  font-size: 18px;
  padding: 2px 2px 2px 6px;
}
.body-register .container-center-register .container-form-register .container-password label {
  margin: 0px 10px 0px 10px;
}
.body-register .container-center-register .container-form-register .container-terminos-register {
  display: flex;
  font-size: 23px;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.body-register .container-center-register .container-form-register .container-terminos-register p {
  margin: 0px 0px 0px 10px;
}
.body-register .container-center-register .container-form-register .container-terminos-register a {
  margin-left: 55px;
}
.body-register .container-center-register .container-form-register .mensaje-register {
  font-size: 24px;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
}
.body-register .container-center-register .container-botones-register {
  margin: 10px 0px 0px 0px;
  text-align: end;
}
.body-register .container-center-register .container-botones-register .button-login {
  margin: 0px 5px 0px 10px;
}
.body-register .container-center-register .container-botones-register button {
  border-radius: 5px;
  width: 100px;
  height: 35px;
  font-size: 18px;
  box-shadow: 3px 3px 2px black;
  text-align: center;
}
.body-register .container-center-register .container-botones-register button a {
  color: black;
  padding: 6px 15px 6px 10px;
  text-decoration: none;
}
.body-register .container-center-register .container-botones-register button:hover {
  scale: 1.1;
  transition: 0.1s;
  cursor: pointer;
}
.body-register .container-center-register .container-botones-register button:not(:hover) {
  scale: 1;
  transition: 0.1s;
}

.terminos {
  text-align: start;
  display: none;
  padding: 10px;
  position: fixed;
  overflow: auto;
  height: 400px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.terminos p {
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.terminos button {
  border-radius: 5px;
  width: 100px;
  height: 35px;
  font-size: 18px;
  box-shadow: 3px 3px 2px black;
  text-align: center;
}
.terminos button a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.terminos button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.terminos button:not(:hover) {
  transform: scale(1);
  transition: 0.2s;
}

.body-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.body-inicio .container-logo-inicio img {
  width: 200px;
  height: 200px;
}
.body-inicio .container-traveler {
  display: block;
  background-color: red;
  width: 1000px;
  height: 400px;
}
.body-inicio .container-manager {
  background-color: yellow;
  display: none;
  width: 1000px;
  height: 400px;
}

/*# sourceMappingURL=style.css.map */
