<!DOCTYPE html>
<html>
  <head>
    <title>Error 404 - Página no encontrada</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <div class="containerError">
      <div class="mensajeError">
        <div class="containerImgErr">
          <p class="textErr">Error 404</p>
          <img class="imgErr" src="/img/img-err.png" alt="imagen error 404" />
        </div>
        <p class="errText">Página no encontrada</p>
        <p class="errText">Lo sentimos, la página que buscas no existe.</p>
        <button class="buttonErr">
          <a class="linkErr" href="/">Login</a>
        </button>
      </div>
    </div>
  </body>
</html>
