<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>melo</h1>
    <form action="/login" method="post">
      <label>Employe</label>
      <input type="text" name="empleado" />

      <label>User</label>
      <input type="text" name="usuario" />

      <label>Password</label>
      <input type="password" name="contraseña" id="contraseña" />
      <input type="checkbox" id="chePassword" />
      <label for="chePassword">Mostrar contraseña</label>
      <button type="submit">Login</button>
    </form>

    <% if(mensaje){ %>
    <p><%= mensaje %></p>
    <% } %>

    <script>
      const contraseña = document.getElementById("contraseña");
      const mostrarPassword = document.getElementById("chePassword");

      mostrarPassword.addEventListener("change", () => {
        if (mostrarPassword.checked) {
          contraseña.type = "text";
        } else  {
          contraseña.type = "password";
        }
      });
    </script>
  </body>
</html>
