<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Document</title>
  </head>
  <body class="body-inicio">
    <div class="container-inicio-body">
      <div class="container-logo-inicio">
        <img src="/img/logo-pagina.webp" alt="logo de la empresa" />
      </div>

      <div class="container-botones-inicio">
        <button onclick="abrirTravel()">I'm Traveler</button>
        <button onclick="abrirOwner()">I'm Owner / Manager</button>
        <button>Log out</button>
      </div>
      <div class="container-traveler" id="traveler">
        <input type="search" />

        <table border="1">
          <tr>
            <th>Título</th>
          </tr>
          <% for (var i = 0; i < Titulos.length; i++) { %>
            <tr>
              <td><%= Titulos[i] %></td>
            </tr>
          <% } %>
        </table>
        
      </div>

      <div class="container-manager" id="manager"></div>
    </div>
  </body>
  <script src="/js/incio.js"></script>
</html>
