<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Document</title>
  </head>
  <body class="body-register">
    <div class="container-center-register">
      <div class="container-form-register">
        <form action="/register-user" method="post">
          <div class="container-full-gender">
            <div class="username-full-register">
              <label>Username:</label>
              <input type="text" name="nombre" />
              <br />
              <label>Full Name:</label>
              <input type="text" name="nombreCompleto" />
            </div>

            <div class="gender-number-register">
              <label>Male</label>
              <input type="radio" name="genero" value="0" />
              <label>Female</label>
              <input type="radio" name="genero" value="1" />
              <br />
              <label>Number of Family Members</label>
              <input class="input" type="number" name="miembroFami" />
            </div>
          </div>

          <div class="container-cumplea単os">
            <label>Birthday: </label>
            <input type="date" name="cumplea単os" />
          </div>

          <div class="container-password">
            <label class="label">Password:</label>
            <input type="password" name="contrase単a" />

            <label>Retype Password:</label>
            <input type="password" name="contrase単aRepi" />
          </div>

          <div class="container-terminos-register">
            <input type="checkbox" id="aceptarTerminos" />
            <p>I agree to the Terms and Conditions</p>
            <a href="#" onclick="abrir()" id="verTerminos"
              >Views Terms and Conditions</a
            >
          </div>

    <% if(mensaje){ %>
    <p><%= mensaje %></p>
    <% } %>

    <input type="checkbox" id="aceptarTerminos" disabled/>
    <button onclick="abrir()" id="verTerminos">mirar los terminos</button>
    <div id="terminos" style="display: none">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quasi
        libero in quisquam deserunt provident necessitatibus aliquam, saepe ut
        iste, quos expedita explicabo laboriosam autem! Animi officia quaerat
        mollitia ea.
      </p>
      <button onclick="cerrar()">aceptar</button>
    </div>
  </body>
  <script src="/js/register.js"></script>
</html>
